html {
  scroll-behavior: smooth;
  font-family: "Merriweather regular 400", Merriweather, serif;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto medium 500", Roboto, sans-serif;
  font-size: 2.25rem;
}

h2 {
  font-family: "Roboto regular 400", Roboto, sans-serif;
  font-size: 1.5rem;
}

header {
  position: absolute;
  width: 100vw;
  color: black;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  border-style: solid;
  border-radius: 5px;
  border-color: #05080c;
}

nav a {
  padding-left: 10.2%;
  padding-right: 10.2%;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #173777;
}

article {
  border-style: solid;
  border-radius: 5px;
  border-color: black;
  margin-top: 5vw;
  width: 75vw;
  padding-left: 10vw;
  padding-right: 10vw;
  position: absolute;
  left: 2.5vw;
  background-color: black;
  color: #dde6eb;
}
